@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.navbar-blue{
  background-color: #0984e3;
}

* {
  font-family: 'Fira Sans';
}

body {
  background-color: #fff;
  color: darkslategrey;
}

h1 {
  font-family: 'Roboto Slab';
  color: darkblue;
}



ul,
ol {
  font-size: small;
}

.colored-list {
  color: rgb(90, 11, 100);
}

/* per pagina 04 */

.container {
  margin: auto;
  width: 60%;
}

.container h1 {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.main-text {
  margin: auto;
  width: 80%;
}

/*per pagina 6*/

.head h1 {
  color: dodgerblue;
}

.head h2 {
  font-family: 'Fira Sans', 'Sans Serif';
  font-size: medium;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  margin-top: -2.2em;
  margin-bottom: 1.5em;
}

.main-text h3 em {
  color: slategray;
}

.first {
  margin-top: 1em;
}

.second {
  margin-bottom: 2em;
}

/* per pagina 5 */

.main-text .l-g-infoGraphicsGrid {
  list-style: none;
}

.l-g-infoGraphicsGrid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.c-spotCard {
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  padding: calc(1rem * 2);
  border: 2px solid rgb(238, 238, 238);
}
.c-spotCard-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.c-spotCard-title {
  font-family: 'Roboto Slab', 'Serif';
  font-size: 1.266rem;
  font-style: italic;
  font-weight: bolder;
  color: #09f;
  margin: calc(1rem * 2) 0;
}

.c-spotCard-figure {
  position: relative;
  overflow-y: hidden;
  display: block;
  margin: 0;

  width: 100%;
  padding-top: calc(2 / 3 * 100%);
}

.c-spotCard-figure img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
}
.c-spotCard-text .lista {
  margin-left: 0;
}

.c-spotCard-wrapperLink {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  height: 100%;
}

.c-spotCard-wrapperLink:hover > .c-spotCard {
  transition: box-shadow 135ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 3px 1px rgba(152, 176, 194, 0.2),
    0 2px 8px 4px rgba(60, 64, 67, 0.1);
}

/* svg styles */

svg.filled {
  fill: teal;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: #0984e3 ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
        .bar {
            fill: #74b9ff;
        }

        .row.heading h2 {
            /* color: rgb(118, 116, 116); */
            /* font-size: 52.52px; */
            line-height: 95px;
            text-align: center;
            margin: 0 0 40px;
            padding-bottom: 20px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .heading.heading-icon {
            display: block;
        }

        .padding-lg {
            display: block;
            /* padding-top: 20px; */
            padding-bottom: 60px;
        }

        .practice-area.padding-lg {
            padding-bottom: 55px;
            padding-top: 55px;
        }

        .practice-area .inner {
            border: 1px solid #999999;
            text-align: center;
            margin-bottom: 28px;
            padding: 40px 25px;
        }

        .our-webcoderskull .cnt-block:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            border: 0;
        }

        .practice-area .inner h3 {
            color: #3c3c3c;
            font-size: 24px;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            padding: 10px 0;
        }

        .practice-area .inner p {
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
        }

        .practice-area .inner img {
            display: inline-block;
        }


        .our-webcoderskull {
            background: rgba(255, 255, 255, 0.387) no-repeat center top / cover;

        }

        .our-webcoderskull .cnt-block {
            float: left;
            width: 100%;
            background: #fff;
            padding: 30px 20px;
            text-align: center;
            border: 2px solid #d5d5d5;
            margin: 0 0 28px;
        }

        .our-webcoderskull .cnt-block figure {
            width: 148px;
            height: 148px;
            border-radius: 100%;
            display: inline-block;
            margin-bottom: 15px;
        }

        .our-webcoderskull .cnt-block img {
            width: 148px;
            height: 148px;
            border-radius: 100%;
        }

        .our-webcoderskull .cnt-block h3 {
            color: #2a2a2a;
            font-size: 20px;
            font-weight: 500;
            padding: 6px 0;
            text-transform: uppercase;
        }

        .our-webcoderskull .cnt-block h3 a {
            text-decoration: none;
            color: #2a2a2a;
        }

        .our-webcoderskull .cnt-block h3 a:hover {
            color: #337ab7;
        }

        .our-webcoderskull .cnt-block p {
            color: #2a2a2a;
            font-size: 13px;
            line-height: 20px;
            font-weight: 400;
        }

        .our-webcoderskull .cnt-block .follow-us {
            margin: 20px 0 0;
        }

        .our-webcoderskull .cnt-block .follow-us li {
            display: inline-block;
            width: auto;
            margin: 0 5px;
        }

        .our-webcoderskull .cnt-block .follow-us li .fa {
            font-size: 24px;
            color: #767676;
        }

        .our-webcoderskull .cnt-block .follow-us li .fa:hover {
            color: #025a8e;
        }